.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.word-count {
  position: absolute;
  top: 0;
  left: 0;
}
