.wrapper {
  height: 100vh;
  position: relative;
}

.row {
  // inner
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  // outer
  width: 100%;
  position: absolute;
  left: 0;
}
